In [2]:
#importando bibliotecas
import os
import pymysql
import pandas as pd

#abrindo conexao com mysql
conn = pymysql.connect(
    host='127.0.0.1',
    port=int(3306),
    user='root',
    passwd='emporium',
    db='solar_teste',
    charset='utf8mb4')

#criando cursor
cursor = conn.cursor()

ModuleNotFoundError: No module named 'pymysql'

In [2]:
#executa o comando
cursor.execute("Insert into solar values (6,'Cassio Philipe')")

1

In [6]:
df = pd.read_sql_query(
"select * from solar",conn)
df.tail(5)

   id    nome
1   2  Heitor
2   3  Marina
3   4  Napalm
4   5  Victor
5   7   Death

In [26]:
import requests
import json

In [10]:
api_token = 'seu_api_token'
api_url_base =  'https://yahoo.com.br'

In [11]:
def get_account_info():
    api_url = '{0}account'.format(api_url_base)
    
    response = request.GET(api_url, headers=headers)
    
    if response.status_code == 200:
        return json.loads(response.content.decode('utf8'))
    else:
        return print('Erro')

In [68]:
    url = 'https://asdc-arcgis.larc.nasa.gov/server/rest/services/power/power_601_22years_lst/ImageServer/identify?f=json&geometry={"x":-8308523,"y":4036000,"spatialReference":{"wkid":102100}}&returnGeometry=false&returnCatalogItems=true&mosaicRule={"mosaicMethod":"esriMosaicNone","where":"","ascending":true,"mosaicOperation":"MT_FIRST","multidimensionalDefinition":[{"variableName":"allsky_sfc_sw_dwn","dimensionName":"time","values":["1"],"isSlice":true}]}&geometryType=esriGeometryPoint&pixelSize={"x":19567,"y":19567,"spatialReference":{"wkid":102100}}&renderingRules=[{"rasterFunction":"power_600_22years_1983_2005_allsky_sfc_sw_dwn","variableName":"Raster"}] '
    args = {'user': 'anonymous', 'lat': '-74','lon': '34'}
    headers = {'Conten-Type' : 'text/plain;charset=utf-8'}
    
    response = requests.post(url, data=json.dumps(args), headers = headers)
    print(response.content)
    
    if response.status_code == 200:
        response_json = response.json()
        #MOSTRAR UMA VARIAVEL DO JSON
        origin = response_json['location']
        print(origin)

b'{"objectId":0,"name":"Pixel","value":"2.11","location":{"x":-74.636731993585798,"y":34.053589064605561,"spatialReference":{"wkid":4326,"latestWkid":4326}},"properties":{"Values":["2.11"]},"catalogItems":{"objectIdFieldName":"objectid","features":[{"attributes":{"objectid":274,"name":"power_600_22years_lst.nc:allsky_sfc_sw_dwn:0","minps":0,"maxps":10,"lowps":1,"highps":1,"category":1,"tag":"allsky_sfc_sw_dwn","groupname":"557954C2BD4EB69091881CD7576E25E6","productname":"NetCDF","centerx":0,"centery":0,"zorder":null,"we_ps":"1","ns_ps":"1","model":"SRB","model_version":"3.0","timespec":"LST","variable":"allsky_sfc_sw_dwn","dimensions":"time","time":1,"month_abbr":"01","month":"jan","range":"19830701-20050630","parameter":"allsky_sfc_sw_dwn","starttime":425865600000,"endtime":1120089600000,"st_area_shape_":64800,"st_length_shape_":1080}}]},"catalogItemVisibilities":[1],"processedValues":["141, 184, 0"]}'
{'x': -74.6367319935858, 'y': 34.05358906460556, 'spatialReference': {'wkid': 4326, 'latestWkid': 4326}}