In [8]:
#importando bibliotecas
import os
import pymysql
import pandas as pd

#abrindo conexao com mysql
conn = pymysql.connect(
    host='127.0.0.1',
    port=int(3306),
    user='root',
    passwd='emporium',
    db='emporium',
    charset='utf8mb4')

In [13]:
df = pd.read_sql_query(
"select * from sale limit 1000",conn)
df.tail(10)

,store_key,pos_number,ticket_number,start_time,voided,post_sale_void,sale_type,customer_key,amount_due,change_amount,...,customer_id,customer_id_type,subtotal_discount,type_price,reference_price,default_price,cpu_clock_start,cpu_clock_subtotal,cpu_clock_end,cpu_clock_close_drawer
990,1,16,593137,2017-09-02 18:15:08,0,0,0,0,12.69,0.00,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
991,1,16,593140,2017-09-02 18:16:31,0,0,0,0,40.14,0.00,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
992,1,16,593143,2017-09-02 18:17:28,0,0,0,0,27.47,22.53,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
993,1,16,593144,2017-09-02 18:19:18,0,0,0,0,29.11,0.00,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
994,1,16,593147,2017-09-02 18:22:04,0,0,0,0,21.32,0.00,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
995,1,16,593150,2017-09-02 18:25:31,0,0,0,0,4.60,0.40,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
996,1,16,593151,2017-09-02 18:26:51,0,0,0,0,5.80,1.20,...,,0,0.0,1,1,1,1.504387e+09,1.504387e+09,1.504387e+09,1.504387e+09
997,1,16,593152,2017-09-02 18:29:19,0,0,0,0,28.94,0.00,...,,0,0.0,1,1,1,1.504387e+09,1.504388e+09,1.504388e+09,1.504388e+09
998,1,16,593155,2017-09-02 18:30:42,0,0,0,0,17.09,0.00,...,,0,0.0,1,1,1,1.504388e+09,1.504388e+09,1.504388e+09,1.504388e+09
999,1,16,593158,2017-09-02 18:31:43,0,0,0,0,11.42,0.00,...,,0,0.0,1,1,1,1.504388e+09,1.504388e+09,1.504388e+09,1.504388e+09