In [69]:
#importando bibliotecas
import os
import pymysql
import pandas as pd

#abrindo conexao com mysql
conn = pymysql.connect(
    host='127.0.0.1',
    port=int(3306),
    user='root',
    passwd='emporium',
    db='solar_teste',
    charset='utf8mb4')

#criando cursor
cursor = conn.cursor()

In [70]:
#executa o comando
cursor.execute("Insert into solar values (6,'Cassio Philipe')")

1

In [71]:
df = pd.read_sql_query(
"select * from solar",conn)
df.tail(5)

   id            nome
2   3          Marina
3   4          Napalm
4   5          Victor
5   6  Cassio Philipe
6   7           Death

In [2]:
import requests
import json

In [ ]:
import requests
import json
    url = 'https://google.com.br'
    args = {'lat': '-74','lon': '34'}
    headers = {'Conten-Type' : 'text/plain;charset=utf-8'}
    
    response = requests.post(url, data=json.dumps(args), headers = headers)
    print(response.content)
    
    if response.status_code == 200:
        response_json = response.json()
        #print(response.content)
        #MOSTRAR UMA VARIAVEL DO JSON
        #origin = response_json['location']
       # print(origin)

In [ ]:
import requests
import json
print('###################')
print('###Consulta  CEP###')
print('###################')

cep_input = input('Digite o cep para a consulta :')
if len(cep_input) != 8:
    print('Quantidade de digitos invalidos !')
    exit()
    
request = requests.get('https://viacep.com.br/ws/{}/json/'.format(cep_input))

addres_data = request.json()
    

if 'erro' not in addres_data:
    print('==> CEP ENCONTRADO <==')
    
    print('CEP: {}'.format(addres_data['cep']))
    print('logradouro: {}'.format(addres_data['logradouro']))
    print('Complemento: {}'.format(addres_data['complemento']))
    print('Bairro: {}'.format(addres_data['bairro']))
    print('Cidade: {}'.format(addres_data['localidade']))  
    print('Estado: {}'.format(addres_data['uf']))  
else:
        print('CEP invalido')

###################
###Consulta  CEP###
###################